* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.wrapper .navBar {
  background-color: #1f1b24;
  height: 100vh;
  width: 10%;
  color: white;
  height: 100vh;
}

.wrapper .navBar input[type="checkbox"] {
  display: none;
}

.wrapper .navBar input[type="checkbox"]:checked ~ .dropChoices {
  visibility: visible;
  -webkit-transform: translatex(0px);
          transform: translatex(0px);
  display: block;
}

.wrapper .navBar .mainChoices li {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  line-height: 50px;
}

.wrapper .navBar .mainChoices li label {
  display: block;
  cursor: pointer;
}

.wrapper .navBar .mainChoices li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
  height: 60%;
}

.wrapper .navBar .mainChoices li:nth-child(n + 2):hover {
  background-color: #808588;
}

.wrapper .navBar .dropChoices {
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  margin-top: 10px;
}

.wrapper .navBar .dropChoices li {
  text-align: right;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.wrapper .navBar .dropChoices li:hover {
  background-color: #808588;
}

.wrapper .navBar .accessories {
  position: relative;
  top: 40%;
  text-align: center;
}

.wrapper .navBar .accessories button {
  background-color: #3e3f67;
  border-radius: 7px;
  color: white;
  padding: 10px;
  margin: 3px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px 3px #000;
          box-shadow: 2px 2px 5px 3px #000;
  cursor: pointer;
  margin-bottom: 10px;
}

.wrapper .navBar .accessories .buttonWrapper {
  width: 70px;
  height: 30px;
  padding: 3px;
  border: 2px solid white;
  border-radius: 30px;
  display: inline-block;
}

.wrapper .navBar .accessories .buttonWrapper .buttonToggler {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4b00a3;
  cursor: pointer;
}

.wrapper .mainBody {
  width: 90%;
  background-color: #3c4043;
}

.wrapper .mainBody .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  background-color: #1f1b24;
}

.wrapper .mainBody .searchBar input[type="text"] {
  background-color: inherit;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 0;
  font-size: 24px;
  color: white;
  font-family: Arial, FontAwesome;
}

.wrapper .mainBody .tables {
  padding: 10px;
  height: 90vh;
  overflow-y: scroll;
}

.wrapper .mainBody .tables .welcomBox {
  width: 60%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #808588;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50%;
  margin-right: 20%;
  margin-top: 15%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 5px #353636;
          box-shadow: 5px 5px 5px 5px #353636;
}

.wrapper .mainBody .tables .welcomBox .welcomText h1 {
  font-size: 42px;
  text-align: center;
  padding: 10px;
}

.wrapper .mainBody .tables .welcomBox .welcomText h2 {
  text-align: center;
  padding: 10px;
}

.wrapper .mainBody .tables table {
  width: 100%;
}

.wrapper .mainBody .tables table tr th {
  color: white;
  padding: 5px 0;
  font-size: 24px;
}

.wrapper .mainBody .tables table tr td {
  color: white;
  padding: 5px 0;
  text-align: center;
}

.wrapper .mainBody .tables table tr td a {
  color: white;
  text-decoration: none;
}

.wrapper .mainBody .tables table tr:nth-child(even) {
  background-color: #808588;
}
/*# sourceMappingURL=dark.css.map */