* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Byekan;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Byekan';
  src: url(../assets/BYekan+.ttf);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .wrapper {
    display: block;
  }
}

.wrapper .navBar {
  background-color: #1f1b24;
  height: 100vh;
  width: 10%;
  color: white;
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .wrapper .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 576px) {
  .wrapper .navBar .mainChoices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
  }
}

.wrapper .navBar .mainChoices li {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  line-height: 50px;
}

@media screen and (max-width: 576px) {
  .wrapper .navBar .mainChoices li {
    margin: 0 5px;
    font-size: 16px;
  }
}

.wrapper .navBar .mainChoices li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
  height: 60%;
}

@media screen and (max-width: 576px) {
  .wrapper .navBar .mainChoices li img {
    width: 40px;
    height: 40px;
  }
}

.wrapper .navBar .mainChoices li:nth-child(n + 2):hover {
  background-color: #808588;
}

.wrapper .navBar .accessories {
  position: relative;
  top: 60%;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .wrapper .navBar .accessories {
    position: static;
    margin: 0 70px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper .navBar .accessories #excButton {
  background-color: #3e3f67;
  border-radius: 7px;
  color: white;
  padding: 10px;
  margin: 3px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px 3px #000;
          box-shadow: 2px 2px 5px 3px #000;
  cursor: pointer;
  margin-bottom: 10px;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .wrapper .navBar .accessories #excButton {
    color: white;
    padding: 5px;
    font-size: 12px;
  }
}

.wrapper .navBar .accessories .theme {
  padding: 15px;
  background-color: #05005b;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.48);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.wrapper .navBar .accessories .theme i {
  font-size: 22px;
}

@media screen and (max-width: 480px) {
  .wrapper .navBar .accessories .theme i {
    font-size: 12px;
  }
}

.wrapper .mainBody {
  width: 90%;
  overflow-y: hidden;
  background-color: #3c4043;
}

@media screen and (max-width: 576px) {
  .wrapper .mainBody {
    width: 100%;
  }
}

.wrapper .mainBody .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1f1b24;
}

.wrapper .mainBody .searchBar .searchInp {
  display: none;
  background-color: inherit;
  width: 150px;
  height: 30px;
  margin: 10px 0;
  border: none;
  border-radius: 0;
  font-size: 24px;
  color: white;
  font-family: Arial, FontAwesome;
}

.wrapper .mainBody .tables {
  padding: 10px;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.wrapper .mainBody .tables .main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .mainBody .tables .main .updates {
  width: 60%;
  background-color: #1f1b24;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
}

.wrapper .mainBody .tables .main .updates h1 {
  color: white;
  margin: 10px 0;
}

.wrapper .mainBody .tables .main .updates .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (max-width: 576px) {
  .wrapper .mainBody .tables .main .updates .details {
    display: block;
  }
}

.wrapper .mainBody .tables .main .updates .details h3 {
  color: white;
  text-align: center;
  margin: 0 10px;
}

.wrapper .mainBody .tables .main .mainBox {
  width: 60%;
}

@media screen and (max-width: 576px) {
  .wrapper .mainBody .tables .main .mainBox {
    width: 100%;
  }
}

.wrapper .mainBody .tables .main .mainBox .introduction {
  padding: 30px;
  text-align: center;
}

.wrapper .mainBody .tables .main .mainBox .introduction h2 {
  color: white;
}

.wrapper .mainBody .tables .main .mainBox .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  text-align: center;
}

.wrapper .mainBody .tables .main .mainBox .link {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.wrapper .mainBody .tables .main .mainBox .link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.wrapper .mainBody .tables .main .mainBox .link a {
  color: white;
}

.wrapper .mainBody .tables .main .mainBox .link img {
  width: 40px;
  height: 40px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper .mainBody .tables table {
  width: 100%;
}

.wrapper .mainBody .tables table tr th {
  color: white;
  padding: 5px 0;
  font-size: 24px;
}

.wrapper .mainBody .tables table tr td {
  color: white;
  padding: 5px 0;
  text-align: center;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.wrapper .mainBody .tables table tr td a {
  color: white;
}

.wrapper .mainBody .tables table tr:nth-child(even) {
  background-color: #808588;
}
/*# sourceMappingURL=dark.css.map */