$NavFontColor: white;
$padding: 10px;
$fontSize: 22px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Byekan;
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}


@mixin buttons {
  background-color: #3e3f67;
  border-radius: 7px;
  color: $NavFontColor;
  padding: 10px;
  margin: 3px;
  border: none;
  box-shadow: 2px 2px 5px 3px #000;
  cursor: pointer;
}

@font-face {
  font-family: 'Byekan';
  src: url(../assets/BYekan+.ttf);
}

.wrapper {
  display: flex;
  height: 100vh;
  @media screen and (max-width : 576px) {
    display: block;
  }
  .navBar {
    background-color: #1f1b24;
    height: 100vh;
    width: 10%;
    color: $NavFontColor;
    height: 100vh;
    @media screen and (max-width : 576px){
      display: flex;
      height: 10vh;
      width: 100%;
      align-content: center;
    }
    .mainChoices {
      @media screen and (max-width : 576px) {
        display: flex;
        padding: 5px;
      }
      li {
        text-align: center;
        font-size: $fontSize;
        cursor: pointer;
        line-height: 50px;
        @media screen and (max-width : 576px) {
          margin: 0 5px;
          font-size: 16px;
        }
        img {
          object-fit: contain;
          width: 60%;
          height: 60%;
          @media screen and (max-width : 576px) {
            width: 40px;
            height: 40px;
          }
        }
      }
      li:nth-child(n + 2) {
        &:hover {
          background-color: #808588;
        }
      }
    }
    .accessories {
      position: relative;
      top: 60%;
      text-align: center;
      @media screen and (max-width : 576px) {
        position: static;
        margin: 0 70px 0 0;
        display: flex;
        align-items: center;
      }
      button {
        @include buttons;
        margin-bottom: 10px;
        visibility: hidden;
        @media screen and (max-width : 480px) {
          padding: 5px;
          font-size: 12px;
        }
      }
      i{
        @media screen and (max-width : 480px) {
          font-size: 12px;
        }
      }
      .buttonWrapper {
        display: inline-block;
        width: 60px;
        height: 30px;
        padding: 3px;
        border: 2px solid white;
        border-radius: 30px;
        .buttonToggler {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #4b00a3;
          cursor: pointer;
        }
      }
    }
  }

  .mainBody {
    width: 90%;
    background-color: #3c4043;
    @media screen and (max-width : 576px) {
      width: 100%;
    }
    .searchBar {
      display: flex;
      justify-content: center;
      background-color: #1f1b24;
      input[type="text"] {
        display: none;
        background-color: inherit;
        width: 150px;
        height: 30px;
        margin: $padding 0;
        border: none;
        border-radius: 0;
        font-size: 24px;
        color: $NavFontColor;
        font-family: Arial, FontAwesome;
      }
    }
    .goTop{
      position: fixed;
      bottom: 40px;
      right: 200px;
      width: 50px;
      height: 50px;
      padding:10px;
      background-color: #6F6369;
      border-radius: 50%;
      opacity: 0;
      font-weight: bold;
      font-size: $fontSize;
      outline: none;
      text-align: center;
      cursor: pointer;
    }
    .tables {
      padding: 10px;
      height: 90vh;
      overflow-y: scroll;
      -ms-overflow-style: none;
      .main{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .updates{
          align-self: flex-start;
          h3{
            color: $NavFontColor;
          }
        }
        .mainBox{
          width : 60%;
          @media screen and (max-width : 576px) {
            width: 100%;
          }
          .introduction{
            padding: 30px;
            text-align: center;
            h2{
              color: $NavFontColor;
            }
          }
          .links{
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 20px;
            text-align: center;
          }
          .link{
            transition:transform 0.2s linear;
            &:hover{
             transform: translateY(-5px);
            }
            a{
              color: $NavFontColor;
            }
            img{
              width: 40px;
              height: 40px;
              image-rendering: pixelated;
              object-fit: contain;
            }
          }
        }
      }
      table {
        width: 100%;
        tr {
          th {
            color: $NavFontColor;
            padding: 5px 0;
            font-size: 24px;
          }
          td {
            color: $NavFontColor;
            padding: 5px 0;
            text-align: center;
            user-select: all;
            a {
              color: $NavFontColor;
            }
          }
        }
        tr:nth-child(even) {
          background-color: #808588;
        }
      }
    }
  }
}
